<a href="https://colab.research.google.com/github/Shashank123-hub/PythonProjects-Codes/blob/master/Python_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing a value
print("This value is meant to be printed.")

This value is meant to be printed.

In [ ]:
#indentation example
if 5>2:
  print("The if statement is correct")

The if statement is correct

In [ ]:
#Commenting
#This is a single line comment 
"""This is a multi line comment end 
in multiple lines."""
print("Commenting has been done")

Commenting has been done

In [ ]:
#Python variables
x = 5 
y = "ABC"
print(x)
print(y)
#Getting the data types for a variable
print(type(x))
print(type(y))

5
ABC
<class 'int'>
<class 'str'>

In [ ]:
#Python numbers
x = 12
y = -23
print(x,y,type(y))
#Floating numbers
x = 1.21
y = -2.86
print(x,y,type(x))
#Complex numbers
x = 3+5j
y = -5j
print(x,y,type(x))

12 -23 <class 'int'>
1.21 -2.86 <class 'float'>
(3+5j) (-0-5j) <class 'complex'>

In [ ]:
#Type conversion
x = 20
y = 4.11
a = float(x)
b = int(y)
print(a,b)

20.0 4

In [ ]:
#Random number generation
import random

print(random.randrange(1,1000))

296

In [ ]:
#Type casting
x = int(2.22)
print(x,type(x))
y = complex(2)
print(y,type(y))

2 <class 'int'>
(2+0j) <class 'complex'>

In [ ]:
#Strings
a = "Hello there"
print(a,type(a))
#Multiline strings
b = """This is a multi-
line string comprising of several
string at once"""
print(b,type(b))
#Array string
print(a[3])
#Array slicing
print(a[2:8])
#String length
print(len(b))
#strip() method
print(a.strip())
#lower() method
print(b.lower())
#upper() method
print(b.upper())
#replace() method
print(a.replace("there","Hello Hello Hello"))
#split() method
print(b.split())
#Check string
a = "Hello there, welcome to my colaboratory"
x = "there" in a
print(x)
y = "there" not in a 
print(y)
#String concatenation
q = "HEllO"
r = " THERE"
s = q + r
print(s)
#String format(combing two different data types)
age = 21
YOB = 1999
text = "Hello ! My name is Shashank and i am {} years old."
print(text.format(age))

Hello there <class 'str'>
This is a multi-
line string comprising of several
string at once <class 'str'>
l
llo th
65
Hello there
this is a multi-
line string comprising of several
string at once
THIS IS A MULTI-
LINE STRING COMPRISING OF SEVERAL
STRING AT ONCE
Hello Hello Hello Hello
['This', 'is', 'a', 'multi-', 'line', 'string', 'comprising', 'of', 'several', 'string', 'at', 'once']
True
False
HEllO THERE
Hello ! My name is Shashank and i am 21 years old.

In [ ]:
#Python Booleans(Ture/False situations)
print(10>9) #True condition
print(10<9) #False condition
#Evaluating boolean variables 
print(bool('False'))
print(bool(""))
#Functions returning boolean
def myFunc():
  return True
print(myFunc())  

x = 2
print(isinstance(x,int))

True
False
True
False
True
True

In [ ]:
#Python operators
#1. Arithematic
print(1+2)
print(4-2)
print(2*2)
print(4/2)
print(2%3)
print("")
#2. Comparison
print(1==1)
print(2>=1)
print(2<=1)
print(1!=1)
print("")
#3. Assignment
x=5
print(x)
y = 2
y += 2 
print(y)
z = 5
z -= 1
print(z)
a = 2
a *= 3
print(a)
b = 25
b /= 5
print(b)
print("")
#4. Logical 
print(1<2 & 2>1)
print(1==1 or 2<1)
print(not 1!=1)
#5. Identify
   #Is
   #IsNot
#6. Membership
   #In
   #NotIn 
#7. Bitwise 
   #AND 
   #OR
   #XOR
   #NOT

3
2
4
2.0
2

True
True
False
False

5
4
4
6
5.0

True
True
True

In [ ]:
#Python Lists
list_A = ["a","b","c","d","e"]
print(list_A)
#Accessing items
print(list_A[1])
#Negative indexing
print(list_A[-3])
#Range indexing
print(list_A[1:4])
#Changing an item value
list_A[1] = "letter B"
print(list_A)
#Looping through the list
for x in list_A:
  print(x)
#Length of the list
print(len(list_A))  
#Adding items t the list
list_A.append("f")
print(list_A)
#Removing items
list_A.remove("f")
print(list_A)
#Delete items
del list_A[1]
print(list_A)
#Joining/Concatenating two list
a = ["1","2","3"] 
b = ["4","5","6","7","8"]
c = a + b
print(c)

['a', 'b', 'c', 'd', 'e']
b
c
['b', 'c', 'd']
['a', 'letter B', 'c', 'd', 'e']
a
letter B
c
d
e
5
['a', 'letter B', 'c', 'd', 'e', 'f']
['a', 'letter B', 'c', 'd', 'e']
['a', 'c', 'd', 'e']
['1', '2', '3', '4', '5', '6', '7', '8']

In [ ]:
#Python Tuples
Tuple_One = ("a","b","c","d","e")
print(Tuple_One) 
#Accessing items in a tuple
print(Tuple_One[1])
#Positive indexing slicing
print(Tuple_One[1:4])
#Negative indexing
print(Tuple_One[-2])
#Changing values(by coverting into a list)
new_list =  list(Tuple_One)
new_list[1] = "letter B"
another_list = tuple(new_list)
print(another_list)
#Looping through the list
for x in Tuple_One:
  print(x)
#Tuple with a sing item
Tuple_two = ("apple",)
print(Tuple_two) 
#Concatenating two tuples
tuple_A = ("1","2","3","4")
tuple_B = ("5","6","7","8")
tuple_C = tuple_A + tuple_B
print(tuple_C)

('a', 'b', 'c', 'd', 'e')
b
('b', 'c', 'd')
d
('a', 'letter B', 'c', 'd', 'e')
a
b
c
d
e
('apple',)
('1', '2', '3', '4', '5', '6', '7', '8')

In [ ]:
#Python sets(written in curly brackets)
set_A = {"a","b","c","d"}
print(set_A)
#Accessing items
 #1. Looping through the set
for x in set_A:
  print(x)
 #2. To check if an element is present
print("a" in set_A) 
#Items cannot be changed in a set by any means
#Add items
 #1. add()- for adding a single item at a time
set_B = {"Apple","Banana","Orange"}
set_B.add("Strawberry")
print(set_B)
 #2. update()- for adding multiple items at once
set_B.update(["Pear","Melon","Grapes"])
print(set_B)
#Getting the length of a set
print(len(set_B))
#Removing items
 #1. Remove() method
set_B.remove("Pear")
print(set_B)
 #2. discard() method
set_B.discard("Melon")
print(set_B) 
 #3. pop() method- only removes the last method
x=set_B.pop()
print(x) 
#Deleting the whole set 
 #1. clear() method
set_A.clear()
print(set_A)
#Joining two sets 
 #1. Using union 
set1 = {1,2,3}
set2 = {4,5,6}
set3 = set1.union( set2)
print(set3)
 #2. Using update
setA = {"p","q","r"}
setB = {"s","t","u"}
setA.update(setB)
print(setA) 
#Set constructor 
this_set = set((1,2,3,4,5))
print(this_set)

{'d', 'b', 'c', 'a'}
d
b
c
a
True
{'Banana', 'Strawberry', 'Apple', 'Orange'}
{'Melon', 'Banana', 'Apple', 'Orange', 'Strawberry', 'Grapes', 'Pear'}
7
{'Melon', 'Banana', 'Apple', 'Orange', 'Strawberry', 'Grapes'}
{'Banana', 'Apple', 'Orange', 'Strawberry', 'Grapes'}
Banana
set()
{1, 2, 3, 4, 5, 6}
{'q', 's', 'u', 'p', 't', 'r'}
{1, 2, 3, 4, 5}

In [ ]:
#Dictionary
#A collection which is unordered, unchangeable and unindexed
 #Creating a dictionary
thisdict={"Name":"John","Age":21,"Class":"12th"}
print(thisdict)
#Accessing items
#1. model key
x = thisdict["Name"]
print(x)
#2. get() method
x = thisdict.get("Age")
print(x)
#Changing values
thisdict["Age"] = 22
x = thisdict["Age"]
print(x)
#Listing out all the values
for x in thisdict:
  print(thisdict[x])
#Listing out all the key names
for x in thisdict:
  print(x)
#Listing all the keys and values
for x,y in thisdict.items():
  print(x,y) 
#To check if the key exist using "in" keyword
if "name" in thisdict:
  print("Yes, this key is present") 
#Length of a dictionary
print(len(thisdict))  
#Adding items
thisdict["Designation"] = "Student"
thisdict["Interests"] = "Maths"
print(thisdict)
#Removing items
#1. pop() keyword
thisdict.pop("Interests")
print(thisdict)
#2. del keyword
del thisdict["Name"]
print(thisdict)
#Emptying the dictionary
thisdict.clear()
print(thisdict)
#Copying the dictionary
#1. Copying a dictionary with copy() function
dict_A = {
    "Name":"Raj",
    "Salary":20000,
    "Field ops": "IT"
}
mydict = dict_A.copy()
print(mydict)
#2. Using dict() function
dict_B = dict(mydict)
print(dict_B)
#Nested dictionary
new_dict = {
    "Employee 1" : {
        "Name" : "John",
        "Age" : 22,
        "Salary" : 20000
    },
    "Employee 2" : {
        "Name" : "Sam",
        "Age" : 24,
        "Salary" : 30000
    },
    "Employee 3" : {
        "Name" : "Luke",
        "Age" : 25,
        "Salary" : 45000
    }  
}
print(new_dict)
#dict() constructor
thisdict = dict(Type="Car",Model="Ford",Color="Black")
print(thisdict)

{'Name': 'John', 'Age': 21, 'Class': '12th'}
John
21
22
John
22
12th
Name
Age
Class
Name John
Age 22
Class 12th
3
{'Name': 'John', 'Age': 22, 'Class': '12th', 'Designation': 'Student', 'Interests': 'Maths'}
{'Name': 'John', 'Age': 22, 'Class': '12th', 'Designation': 'Student'}
{'Age': 22, 'Class': '12th', 'Designation': 'Student'}
{}
{'Name': 'Raj', 'Salary': 20000, 'Field ops': 'IT'}
{'Name': 'Raj', 'Salary': 20000, 'Field ops': 'IT'}
{'Employee 1': {'Name': 'John', 'Age': 22, 'Salary': 20000}, 'Employee 2': {'Name': 'Sam', 'Age': 24, 'Salary': 30000}, 'Employee 3': {'Name': 'Luke', 'Age': 25, 'Salary': 45000}}
{'Type': 'Car', 'Model': 'Ford', 'Color': 'Black'}

In [ ]:
#Conditional statements
#These are the statements which are used to choose between two or more conditi within an given function 
#1. if-else statements : these are used for single conditions
x = 10
if(x < 15):
  print("X is Acceptable")
else:
  print("X is not acceptable")  
#2. if-elif-else statements   
Marks = 80
if(Marks < 35):
  print("Individual has failed")
elif(Marks < 75 and Marks > 35):
  print("Individual has average marks.")
else:
  print("Individual has performed excellent")  
#3. pass statements(used to avoid gettig an error in our code)
a = 1
b = 2

if b > a:
  pass

X is Acceptable
Individual has performed excellent

In [ ]:
#Looping constructs 
#1. For loop
for i in range(10):
  print("I feel wonderful")
#2. While loop  
a = 10 
while a < 20:
  print(a)
  a = a + 1
  #2.a break statement
i = 5
while i < 15:
  print(i)
  if i == 10:
    break
    i = i + 1

I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
I feel wonderful
10
5
6
7
8
9
10
11
5
6
7
8
9
10
12
5
6
7
8
9
10
13
5
6
7
8
9
10
14
5
6
7
8
9
10
15
5
6
7
8
9
10
16
5
6
7
8
9
10
17
5
6
7
8
9
10
18
5
6
7
8
9
10
19
5
6
7
8
9
10

In [4]:
#Functions - Reusable piece of code created for solving a specific problem. Can be in-built or user-specified 
def area_of_rect(length,breadth):
  area = length*breadth
  return area

print("Area of rectangle is :",area_of_rect(10,20))

def name_of_student(Name):
  return Name

print("The student name is :",name_of_student("Sam")) 

def area_of_circle(radius):
  area = 3.14*radius*radius
  return area

print("Area of the circle is :",area_of_circle(10))

Area of rectangle is : 200
The student name is : Sam
Area of the circle is : 314.0

In [ ]:
#Standard libraries
 #-Libraries: Set of skills buit-in the python like functions, constants, data types etc
 #-Modules: Set of functions that perform a specific set of tasks 
 #-Packages: Simply a collection of modules